*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-main);
}
:root{
    --color-header: #777395;
    --color-main: #F1EDFF;
    --color-detail: #3DC5A1;
    --color-footer: #004c87;
}
header{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-header);
}
#dino{
    background-color: var(--color-header);
    margin-right: 2em;
}
#nav{
    padding: 0%;;
}
.navbar-brand{
    background-color: var(--color-header);
    color: var(--color-main);
}
#navbar{
    background-color: var(--color-header);
}
.nav-link{
    background-color: var(--color-header);
    color: var(--color-main);
}
#wave{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-header);
    padding: 3em;
}
#button{
    color: var(--color-main);
    background-color: var(--color-header);
    margin: 2em;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px var(--color-header);
}
#button:hover{
    color: var(--color-font);
    background-color: var(--color-main);
    margin: 2em;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 5px 3px var(--color-detail);
}
#button:active{
    transform: scale(0.8);
}
.funa{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-header);
    padding: 3em;
}